<!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- <h1><a href="index.html"><span>e</span>Business</a></h1> -->
        <a href="index.html"><img src="assets/img/logo-vp.png" width="250" style="overflow: hidden; padding: 5px;" alt="" class="img-fluid"></a>
      </div>

      <!-- <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile' : navbarOpen}">
        <ul *ngIf="!navbarOpen"> -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#home">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          
          <li class="dropdown"><a class="nav-link scrollto" href="#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#services">Peinture décorative</a></li>
              <li><a href="#services">Enduit décoratif</a></li>
              <li><a href="#services">revêtements muraux</a></li>
              <li><a href="#services">papiers-peints</a></li>
              <li><a href="#services">revêtement de sol souple</a></li>
              <li><a href="#services">parquet flottant</a></li>
              <li><a href="#services">isolation extérieure</a></li>
              <li><a href="#services">ravalement de façade</a></li>
              <li><a href="#services">Plâtrerie</a></li>
            </ul>
          </li>

          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="tel:+330650282937"> <i class="bi bi-telephone-fill"></i> &nbsp; (+33) 0650282937</a></li>
        </ul>
        <!-- <ul *ngIf="navbarOpen" (click)="toggleNavbar()">
          <li><a class="nav-link scrollto" href="#home" >Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>

          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Peinture décorative</a></li>
              <li><a href="#">Enduit décoratif</a></li>
              <li><a href="#">revêtements muraux</a></li>
              <li><a href="#">papiers-peints</a></li>
              <li><a href="#">revêtement de sol souple</a></li>
              <li><a href="#">parquet flottant</a></li>
              <li><a href="#">isolation extérieure</a></li>
              <li><a href="#">ravalement de façade</a></li>
              <li><a href="#">Plâtrerie</a></li>
            </ul>
          </li>

          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="tel:+330650282937">Appel: (+33) 0650282937</a></li>
        </ul> -->
        <!-- <i class="bi bi-list mobile-nav-toggle" (click)="toggleNavbar()" [ngClass]="{'bi-x' : navbarOpen}"></i> -->
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header> 
  <!-- End Header -->

  


