<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Valserhone Peinture</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                <img src="assets/img/about/1.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">A propos de Valserhone Peinture</h4>
              </a>
              <p>{{company?.apropos}} </p>
              <ul>
                <li>
                  <i class="bi bi-check"></i> Peintures intérieures et extérieures
                </li>
                <li>
                  <i class="bi bi-check"></i> Aménagement intérieur et extérieur
                </li>
                <li>
                  <i class="bi bi-check"></i> Pose de revêtements murs et sols
                </li>
                <li>
                  <i class="bi bi-check"></i> Construction de cloisons et faux plafonds
                </li>
                <li>
                  <i class="bi bi-check"></i> Décorations
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <!-- <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Nos Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-door-open"></i>
                </a>
                <h4>Peintures intérieures</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-door-closed"></i>
                </a>
                <h4>Peintures extérieures </h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-building"></i>
                </a>
                <h4>Aménagement intérieur et extérieur</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-bricks"></i>
                </a>
                <h4>Pose de revêtements murs et sols</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-house"></i>
                </a>
                <h4>Construction de cloisons et faux plafonds</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-shop"></i>
                </a>
                <h4>Décorations</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype
                  looks finished by.
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Nos Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <!-- Start Left services -->

        <div *ngFor="let service of services" class="col-md-4 col-sm-4 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="{{service.icon_name}}"></i>
                </a>
                <h4>{{service.service_nom}}</h4>
                <p>{{service.service_description}}</p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- End Services Section -->


  <!-- ======= Rviews Section ======= -->
  <div class="reviews-area">
    <div class="row g-0">
      <div class="col-lg-6">
        <img src="assets/img/about/2.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6 work-right-text d-flex align-items-center">
        <div class="px-5 py-5 py-lg-0">
          <h2>Travailler avec nous</h2>
          <h5>Fiabilité, ponctualité, professionnalisme, 100% garantie.</h5>
          <a href="#contact" class="ready-btn scrollto">Nous Contacter</a>
        </div>
      </div>
    </div>
  </div><!-- End Rviews Section -->

  <!-- ======= Portfolio Section ======= -->
   <!-- <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Notre Portfolio</h2>
          </div>
        </div>
      </div>
      <div class="row wesome-project-1 fix">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tous</li>
            <li data-filter=".filter-peint">Peinture</li>
            <li data-filter=".filter-deco">Deco</li>
          </ul>
        </div>
      </div>

      <div class="row awesome-project-content portfolio-container">

        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-deco">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a href="#"><img src="assets/img/portfolio/1.jpg" alt="" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/1.jpg">
                    <h4>Déco</h4>
                    <span>Décoration intérieure</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
     
        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-peint">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a href="#"><img src="assets/img/portfolio/2.jpg" alt="" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/2.jpg">
                    <h4>Peinture</h4>
                    <span>Peinture intérieure</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-peint">
          <div class="single-awesome-project">
            <div class="awesome-img">
              <a href="#"><img src="assets/img/portfolio/3.jpg" alt="" /></a>
              <div class="add-actions text-center">
                <div class="project-dec">
                  <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/3.jpg">
                    <h4>Peinture</h4>
                    <span>Peinture extérieure</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> --> 


   <div id="portfolio" class="portfolio-area area-padding fix mb-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Notre Portfolio</h2>
          </div>
        </div>
      </div>
      <div class="row wesome-project-1 fix">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tous</li>
            <ng-container *ngFor="let porto of portofolio"><li [attr.data-filter]="'.filter-'+porto.id">{{porto.service_nom}}</li></ng-container>
          </ul>
        </div>
      </div>

      <div class="row awesome-project-content portfolio-container">

        <ng-container *ngFor="let porto of portofolio">
          <ng-container *ngFor="let image of porto.works">
            <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item" [ngClass]="'filter-'+porto.id">
              <div class="single-awesome-project">
                <div class="awesome-img">
                  <a href="#"><img [src]="downloadPortofoImage+image.travail_image" alt="" /></a>
                  <div class="add-actions text-center">
                    <div class="project-dec">
                      <!-- <a class="portfolio-lightbox" data-gallery="myGallery" [href]="downloadPortofoImage+image.travail_image"> -->
                      <a class="portfolio-lightbox" data-gallery="myGallery" href="javascript://">
                        <h4>{{porto.description2}}</h4>
                        <span>{{porto.description3}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div> 
  
  <!-- End Portfolio Section -->

  <!-- ======= Pricing Section ======= -->
  <!-- <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Pricing Table</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list">
            <h3>basic <br /> <span>$80 / month</span></h3>
            <ol>
              <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
              <li class="check"><i class="bi bi-x"></i><span>Full access</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
              <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
              <li class="cross"><i class="bi bi-x"></i><span>Support unlimited</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
              <li class="check"><i class="bi bi-x"></i><span>Cash back</span></li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list active">
            <span class="saleon">top sale</span>
            <h3>standard <br /> <span>$110 / month</span></h3>
            <ol>
              <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
              <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
              <li class="cross"><i class="bi bi-x"></i><span>Cash back</span></li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list">
            <h3>premium <br /> <span>$150 / month</span></h3>
            <ol>
              <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Free domin</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
              <li class="check"><i class="bi bi-check"></i><span>Cash back</span></li>
            </ol>
            <button>sign up now</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Pricing Section -->

  <!-- ======= Testimonials Section ======= -->
  <div id="testimonials" class="testimonials">
    <div class="container">

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">


          <!-- <div *ngFor="let testimo of testimonials" class="swiper-slide">
            <div class="testimonial-item">
              <img [src]="Downloadimage+'/'+testimo.photo" class="testimonial-img" alt="">
              <h3>{{testimo.nom}}</h3>
              <h4>{{testimo.local}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testimo.texte}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> -->
          <ngb-carousel *ngIf="testimonials" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
            [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let testimo of testimonials">
              <div class="testimonial-item">
                <img [src]="Downloadimage+'/'+testimo.photo" class="testimonial-img" class="testimonial-img">
                <h3>{{testimo.nom}}</h3>
                <h4>{{testimo.local}}</h4>
                <p style="width: 80vw">
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testimo.texte}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </ng-template>
          </ngb-carousel>


          <!--  <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Jean Luc</h3>
              <h4>Décoration maison</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Ils sont profesionnelles et ont des prix imbattable.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> -->

        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>

    </div>
  </div><!-- End Testimonials Section -->

  <!-- ======= Suscribe Section ======= -->
  <div class="suscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>Bienvenu à Valserhone Peinture</h3>
            <a class="sus-btn" href="#">Avoir un dévis</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Suscribe Section -->

  <!-- ======= Contact Section ======= -->
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Nous contacter</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-phone"></i>
                <p>
                  Appel: <a href="tel:{{company?.tel}}" class="link-dark"> {{company?.tel}}</a><br>
                  <span>{{company?.horaire}}</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-envelope"></i>
                <p>
                  Email: {{company?.email}}<br>
                  <span>Site Web: {{company?.nomdomaine}}</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-geo-alt"></i>
                <p>
                  {{company?.adresse1}}<br>
                  <span>{{company?.adresse2}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6">
            <!-- Start Map -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2766.178954781174!2d5.820733715579112!3d46.107340979113744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c83251d92f86f%3A0x6132c730e176f9f5!2s49%20Rue%20Lafayette%2C%2001200%20Valserh%C3%B4ne%2C%20France!5e0!3m2!1sfr!2sma!4v1646608794484!5m2!1sfr!2sma"
              width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6">
            <div class="form contact-form">
              <form (ngSubmit)="sendContactMessage()" [formGroup]="contactForm" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" formControlName="nom" name="nom" class="form-control" id="name"
                    placeholder="Votre Nom" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" formControlName="email" class="form-control" name="email" id="email"
                    placeholder="Votre Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" formControlName="objet" class="form-control" name="objet" id="subject"
                    placeholder="Objet" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" formControlName="message" name="message" rows="5" placeholder="Message"
                    required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message d-block" *ngIf="errorMessage">
                    <ul>
                      <li>{{errorMessage.nom}}</li>
                      <li>{{errorMessage.email}}</li>
                      <li>{{errorMessage.objet}}</li>
                      <li>{{errorMessage.message}}</li>
                    </ul>
                  </div>
                  <div class="sent-message d-block" *ngIf="successMessage">{{successMessage}}</div>
                </div>
                <div class="text-center"><button type="submit" [disabled]="desableContactBtn">Envoyer le
                    message</button></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div><!-- End Contact Section -->

</main><!-- End #main -->